@font-face {
  font-family: 'Poppins-Regular';
  src: url('@assets/fonts/Poppins-Regular/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('@assets/fonts/Poppins-Bold/Poppins-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('@assets/fonts/Poppins-Medium/Poppins-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cousine-Regular';
  src: url('@assets/fonts/Cousine-Regular/Cousine-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
